@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Hind|Monoton|Quicksand|Rubik');

:root{
  --font: "Quicksand", "Arial", "FreeSans", sans-serif;
  --headerSize: 5em;

  --fontMainColor: #fff;
  --fontSecondaryColor: var(--primary);
}

/*Master Tags*/
  main{
    flex: 1 1 auto;
  }
  html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--background);
  }
  *{
    box-sizing: border-box;
  }
  .contentDiv{
    flex: 1 1 auto;
    background-color: var(--background);
  }
  .noJs{
    background-color: red;
    color: white;
    margin: auto;
    height: 100vh;
    width: 100%;
    text-align: center;
    vertical-align: center;
  }
/*Master Classes*/
  #mark{
    user-select: none;
    cursor: pointer;
  }
  .sidebar{
    --sideWidth: 20vw;
    --sideBreath: 1vw;
    --sidePadding: 0.2vw;
    position: fixed;
    background-color: #3b3b3b;
    box-shadow:  1px 0 1em #0002;
    height: 100vh;
    width: var(--sideWidth);
    left: 0;
    z-index: 4;
    transition: left 0.6s ease-in-out;
    padding-top: calc(var(--headerSize) + 1em);
  }
  .sidebar.hide{
    left: calc((-1 * var(--sideWidth)) + var(--sideBreath));
  }
  .sidebar.hide:hover{
    left: 0;
  }
  .sidebar-item{
    text-align: right;
    font-size: 1.5em;
    opacity: 1;
    font-family: var(--font);
    color: var(--primary);
    transition: all 100ms linear;
  }
  .sidebar-item-active{
    background-color: #0004;
    color: var(--primary);
  }
  .sidebar-item:hover{
    background-color: #303030;
    color: var(--primary);
  }
  .nav-link.sidebar-item.sideCollapse{
    padding-right: calc(var(--sideBreath) + 1em + var(--sidePadding));
  }
  .nav-link.sidebar-item{
    padding-right: calc(var(--sideBreath) + var(--sidePadding));
  }
  .master{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header{
    background-color: #343a40;
    flex: 0 1 auto;
    z-index: 5;
    height: var(--headerSize);
    box-shadow:  0 2px 1em #0007;
  }
  .header + *{
    padding-top: 1.5em;
  }
  header .drp{
    background-color: #343a40;
    color: #fff;
  }
  .darkDialog .modal-content{
    background-color: var(--background);
  }
  .darkDropdown .dropdown-menu{
    background-color: #343a40;
  }
  .darkDropdown .dropdown-menu .dropdown-item{
    color: var(--primary);
  }
  .darkDropdown .dropdown-menu .dropdown-item:hover{
    color: var(--primary);
    background-color: #303136;
  }
/*Text Settings*/
  .ssst{
    font-size: 0.75em;
    font-family: var(--font);
  }
  .sst{
    font-size: 1em;
    font-family: var(--font);
  }
  .st{
    font-size: 1.5em;
    font-family: var(--font);
  }
  .mt{
    font-size: 2em;
    font-family: var(--font);
  }
  .lt{
    font-size: 3em;
    font-family: var(--font);
  }
  .xlt{
    font-size: 3.5em;
    font-family: var(--font);
  }
  .giant{
    font-size: 10em;
  }
  .logo{
    font-family: "Monoton", sans-serif !important;
  }
  #mark{
    font-size: 1.75em;
  }
  a{
    transition: opacity linear 0.1s;
  }
  * a:hover{
    text-decoration: none;
  }
  .link:hover{
    color: none;
    opacity: 0.8;
  }
  .link:active{
    opacity: 0.6;
  }
  .italic{
    font-style: italic;
  }
  .emojiIcon{
    /* color: transparent; */
    text-shadow: 0 0 10px var(--primary);
  }
/*Colors*/
  .primary{
    color: var(--primary);
  }
  .blue{
    color: var(--blue);
  }
  .white{
    color: #fff;
  }
  .darkBg{
    background-color: var(--background);
  }
  .bluesvg{
    filter: invert(0.45) sepia(1) saturate(6) hue-rotate(175deg);
  }
  .textShadow{
    text-shadow: 0em 0em 0.2em #0008;
  }
  .boxShadow{
    box-shadow:  1px 0 1em #0002;
  }
/*State and Animations*/
  @keyframes rainbow{
    from{
      filter: hue-rotate(0deg)
    }
    to{
      filter: hue-rotate(359.99999deg)
    }
  }
  .rotate-active{
    transform: rotateZ(180deg);
  }
  .rotate{
    transition: transform 0.1s ease-in-out;
  }
  .caret{
    transition: transform 0.2s ease-in-out;
  }
  .rainbow{
    will-change: filter;
    animation: rainbow infinite linear 0.5s;
  }

/*Dropdown Color*/

  .dropdown .dropdown-menu{
    background-color: var(--dark);
  }
  .dropdown .dropdown-menu .dropdown-item{
    background-color: var(--dark);
    color: var(--fontMainColor);
  }
  .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--dark);
    color: var(--fontSecondaryColor);
  }

/*Media Queries*/

@media only screen and (max-width: 425px){
  .xlt{
    font-size: 3em;
  }
  .lt{
    font-size: 2.5em;
  }
  .mt{
    font-size: 1.75em;
  }
  .giant{
    font-size: 5em;
  }
  .sidebar{
    --sideBreath: 0vw;
    --sideWidth: 100vw;
    --sidePadding: 2.5vw;
  }
  .sidebar.sidebar.hide:hover{
    left: calc((-1 * var(--sideWidth)));
  }
}

@media only screen and (max-width: 375px){
  .giant{
    font-size: 4em;
  }
  .xlt{
    font-size: 2.75em;
  }
  .lt{
    font-size: 2.25em;
  }
  .mt{
    font-size: 1.75em;
  }
  .st{
    font-size: 1em;
  }
}