@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Hind|Monoton|Quicksand|Rubik');
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}
*{
  box-sizing: border-box;
}

.master{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentDiv{
  flex: 1 1 auto;
}

.header{
  background-color: #5d5d5d;
  width: 100%;
  text-align: center;
  height: 1.5em;
  flex: 0 1 auto;
}
.header + *{
  padding-top: 0em;
}

.lt{
  font-size: 3em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}
.st{
  font-size: 1.5em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}
.mt{
  font-size: 2em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}
.logo{
  font-family: "Monoton", sans-serif !important;
}
.blue{
  color: #00a4dd;
}
.white{
  color: #fff;
}
a{
  text-decoration: none;
}
.link:active{
  color: #00a4ddaa;
}
.link:hover{
  color: #00b4ed;
}

p{
  margin: 0;
}

.pageEnter {
  opacity: 0;
  z-index: 1;
}
.pageEnter.pageEnterActive{
  opacity: 1;
  transition: opacity 250ms ease-in;
}