@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Hind|Monoton|Quicksand|Rubik');

@keyframes rainbow{
  from{
    filter: hue-rotate(0deg)
  }
  to{
    filter: hue-rotate(359deg)
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  background-color: #2b2b2b;
}
*{
  box-sizing: border-box;
}

.master{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentDiv{
  flex: 1 1 auto;
}

main{
  flex: 1 1 auto;
}

.darkBg{
  background-color: #2b2b2b;
}

.header{
  background-color: #343a40;
  flex: 0 1 auto;
}
.header + *{
  padding-top: 1em;
}

.lt{
  font-size: 3em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}

.sst{
  font-size: 1em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}

.st{
  font-size: 1.5em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}
.mt{
  font-size: 2em;
  font-family: "Quicksand", "Arial", "FreeSans", sans-serif;
}
.logo{
  font-family: "Monoton", sans-serif !important;
}
.blue{
  color: #00a4dd;
}
.white{
  color: #fff;
}
a{
  text-decoration: none;
}
.link:active{
  color: #00a4ddaa;
}
.link:hover{
  color: #00b4ed;
}

p{
  margin: 0;
}

.rotate-active{
  transform: rotateZ(180deg);
}
.rotate{
  transition: transform 0.1s ease-in-out;
}

.rainbow{
  animation: rainbow infinite linear 0.5s;
}

/* .page-enter {
  position: absolute;
  background-color: #2b2b2b;
  right: 100vw;
  z-index: 1;
}
.page-enter.page-enter-active{
  right: 0;
  transition: all 250ms ease-in;
} */