/*Positioning*/
#bg{
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 1 1 auto;
    text-align: center;
}
.contentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.particles{
    position: fixed;
    pointer-events: none;
    transform: translateY(calc(-1 * var(--headerSize)));
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}
/*Text*/
.nf{
    z-index: 2;
}