@keyframes appear{
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes appear{
    0% {opacity: 0}
    100% {opacity: 0.6}
}
@keyframes disappear{
    0% { opacity: 1; }
    100% {opacity: 0; }
}
@keyframes reduce{
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}
.tttGrid{
    --maxHeight: 70vmin;
    --maxWidth: 70vmin;
    display: grid;
    max-height: var(--maxHeight);
    max-width: var(--maxWidth);
    /* grid-gap: 2px; */
    box-shadow: inset 0 0 8px 8px var(--background);
}
.wrapper{
    /* max-height: 98vw;*/
    /* max-width: 98vw; */
    /*height: 70vh;
    width: 70vh; */
    animation: appear 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.gridBlock{
    --borderWidth: 1px;
    --bg: #111a;
    --diasabled: #0000;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    border: var(--borderWidth) solid var(--primary);
}
.gridBlock.disabled{
    background-color: var(--diasabled);
    opacity: 0.2;
}
.blockContent{
    animation: appear 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    align-content: center;
    user-select: none;
    color: var(--primary);
    pointer-events: none;
}
.blockContent-hover{
    animation: appear6 0.1s forwards ease-in-out;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    align-content: center;
    user-select: none;
    color: var(--primary);
    pointer-events: none;
    opacity: 0.6;
}
.reduce{
    animation: reduce 0.5s linear;
    opacity: 0.4;
}
.disappear {
    animation: disappear 0.2s ease-in-out;
    opacity: 0;
}
*.tttWho{
    animation: appear 0.6s ease-in-out, rainbow .5s linear infinite;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    text-align: center;
    max-width: 98vw;
    width: 70vh;
    opacity: 1;
    text-shadow: 0em 0em .2em #fff3;
    user-select: none;
}

.block-top{
    border-top-width: 0;
}
.block-bottom{
    border-bottom-width: 0;
}
.block-left{
    border-left-width: 0;
}
.block-right{
    border-right-width: 0;
}

.block-top.block-left{
    border-top-left-radius: 10%;
}
.block-top.block-right{
    border-top-right-radius: 10%;
}
.block-bottom.block-left{
    border-bottom-left-radius: 10%;
}
.block-bottom.block-right{
    border-bottom-right-radius: 10%;
}
.noBorder{
    border-width: 0;
}
.toolbar{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 425px){
    .tttGrid{
        --maxHeight: 85vmin;
        --maxWidth: 85vmin;
    }
}